@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Love+Light&family=Montserrat:wght@200;300;400&family=Parisienne&family=Poppins:ital,wght@0,300;0,500;1,300&family=Roboto:ital,wght@0,300;0,400;0,500;1,100;1,300;1,400;1,500&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    min-height: 100vh;
    background-color: #414B4D;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    position: relative;
    
}

.box{
    width: 90vw;
    height: 90vh;
    visibility: hidden;
    z-index: 1;

    margin-top: 50px;

   
    padding: 10px;
    border-radius: 4px;

    position: relative;
}

.box .image-cover {
    width: 350px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}


.box .image-cover .box-chords{
    width: 100%;
    height: 100%;
    background-color: rgb(35, 44, 43);
    border-radius: 6px;
    overflow-x: auto;
display: flex;

}

.box .image-cover .box-chords img{
    width: 200px;
}
.box .image-cover img{
    width: 350px;
    border-radius: 6px;

}

.box .box-cifra{
    width: calc(100% - 380px);
    height:calc(100% - 20px);
    top: 10px;
    position: absolute;
    right: 10px;
    background-color: rgb(35, 44, 43);
    border-radius: 6px;
    overflow-y: auto;
    padding: 10px;
    font-size: 16pt;
    visibility: hidden;
    
}


.box{
    font-family: 'Roboto', sans-serif;
    color: #FFF;

}

.box .image-cover h2{
    font-weight: 500;
}


@media (max-width:600PX ){

    .box{
        width: 100%;
        height: 100%;
        visibility: hidden;
    }

.box .image-cover {
    display: none;
}
.box .box-cifra{
    width: 100%;
    height: 100%;
    font-size: 10pt;
    margin: auto;
  
    
}}

.box-1{
    width: 100vw;
    position: fixed;
    display: flex;
    justify-content: center;
    padding: 20px;
    visibility: hidden;
    z-index: 10000;
}



.box-1 form{
    width: 50vw;
    height: 40px;
    position: fixed;
    box-shadow: rgba(0, 0, 0, 0.411) 2px 5px  5px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

    margin-bottom: 100px;
}



.box-1 form input{
   width: 90%;
   height: 95%;
    outline: none;
    border: none;
}

.box-1 form button{
    border: none;
    background-color: transparent;
    cursor: pointer;
}
