@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Love+Light&family=Montserrat:wght@200;300;400&family=Parisienne&family=Poppins:ital,wght@0,300;0,500;1,300&family=Roboto:ital,wght@0,300;0,400;0,500;1,100;1,300;1,400;1,500&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    min-height: 400vh;
    background-color: #414B4D;
   
    
}

.box-1{
    width: 100vw;
    margin-top: 110px;
    position: fixed;
    display: flex;
    justify-content: center;
    padding: 20px;
    visibility: hidden;
    z-index: 10000;
}

.circle {
    width: 70vw;
    height: 70vw;
    position: fixed;
    background-color: #000;
    border-radius: 50%;

    left: -50vw;
    top: -50vw;
    box-shadow: rgba(0, 0, 0, 0.356) 5px 5px 5px;

}

.box-1 form{
    width: 50vw;
    height: 40px;
    position: fixed;
    box-shadow: rgba(0, 0, 0, 0.411) 2px 5px  5px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}



.box-1 form input{
   width: 90%;
   height: 95%;
    outline: none;
    border: none;
}

.box-1 form button{
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.circle-2 {
    width: 60vw;
    height: 60vw;
    position: fixed;
    background-color: #232C2B;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.356) 5px 5px 5px;

    left: -45vw;
    bottom: -45vw;
}
.title {
    position: absolute;
    top:35%;
    left: 50px;

}
.title h2{ 
    font-weight: 400;
    text-align: center;
    color: #FFF;
    font-family: 'Roboto', sans-serif;

}

.box-2{ 
    
    width: 100vw;
    height: 400vh;
 
    padding: 10px;
    position: absolute;
    top: 30%;
  
    padding: 50px;
    color: #FFF;
    font-family: 'Montserrat';
    visibility: hidden;
    z-index: 1;

}



.box-2 .cards{
    min-width: 60vw;
    min-height: 300px;
    overflow-x: auto;
    display: flex;
    z-index: 0;
    justify-content: space-between;
    align-items: center;
  
    

}

.box-2 .cards .card{
    width:calc(164px * 2);
    height: 164px;
    border-radius: 4px;
    margin-right: 20px;
    background-color: #414B4D;
    box-shadow: rgba(0, 0, 0, 0.356) 5px 5px 5px;
    justify-content: space-around;
    align-items: center;
    display: flex;
    position: relative;
   
}
.box-2 .cards .card .card-image img{
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    width: 164px;
    height: 100%;
}
.box-2 .cards .card .card-text{
    width: 200px;
    height: 200px;
    
    font-weight: 400;
    text-align: center;
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    padding: 20px;

}

.box-2 .cards .card .card-text h3{
    font-weight: 600;
    
    font-family: 'Montserrat';
}

.box-2 .cards .card .icons{
    position: absolute;
    bottom: -10px;
    right: -10px;
}

.box-2 .cards .card .icons a i{
    text-decoration: none;
    color: #FFF;
    cursor: pointer;
}

.player{
    width: 100%;
    
    height: 80px;
    padding: 10px;
    position: fixed;
    bottom: 0;
    z-index: 100;
    left: 0;
  
    
    display: flex;
    background: #292828;
    visibility: hidden;
    
}


.player_artist > img{
    max-width: 70px;
    padding: 0 10px;
    display: inline-block;
    vertical-align: middle;
}
.player_artist > h3{
    display: inline-block;
    color: #FFF;
    font-weight: normal;
    font-size: 20px;
    vertical-align: middle;
    margin-left: 18px;
}
.player_artist > h3 > span{
    color: rgb(200, 200, 200);
    font-size: 13px;
}

.player_control{
    width: 70%;
    text-align: center;

}

.player_control_buttons a{

    color: #FFF;
    margin: 8px 15px;
    font-size: 18px;
}

.player_control_progress{
    width: 100%;
    max-width: 600px;
    height: 7px;
    margin-top: 20px;
    position: relative;
    border-radius: 8px;
    display: inline-block;
    background: rgb(130, 130, 130);
}
.player_control_progress_2{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 7px;
    border-radius: 8px;
    background-color: #FFF ;
}

.modal-container {
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,.5);
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 2000;
    display: none;
    justify-content: center;
    align-items: center;
}

.modal-container.mostrar {
    display: flex;
}

.modal {
    background: white;
    width: 60%;
    min-width: 300px;
    padding: 40px;
    border: 10px solid #988b7a;
    box-shadow: 0 0 0 10px white;
    position: relative;
}

@keyframes modal {
    from {
        opacity: 0;
        transform: translate3d(0, -60px, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.mostrar .modal {
    animation: modal .3s;
}

.fechar {
    position: absolute;
    font-size: 1.2em;
    top: 0px;
    right: 0px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 4px solid white;
    background: #988b7a;
    color: white;
    font-family: "PT Mono", monospace;
    cursor: pointer;
    box-shadow: 0 4px 4px 0 rgba(0,0,0,.3);
}

.navbar{
    width: 100%;
    height: 80px;
    background-color: rgba(0, 0, 0, 0.692);
    box-shadow: #000 5px 5px 5px;

    position: absolute;
    padding: 5px;
    top: 0;   
    display: flex;
    align-items: center;
    justify-content: center;
    

}

.navbar .icons button{

border: none;
background-color: transparent;
color: aliceblue;
position: absolute;
right: 30px;
top: 30px;
cursor: pointer;
}