*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
    input{
        padding: 15px;
        border: none;
        outline: none;
        font-size: 15px;
    }
    .Tela-Login button{
        background-color: dodgerblue;
        border: none;
        padding: 15px;
        width: 100%;
        border-radius: 10px;
        color: white;

    }
 
    body{
        font-family: Arial, Helvetica, sans-serif;
       
        width: 100vw;
        min-height: 100vh;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        overflow-x: hidden;
        background-image: linear-gradient(160deg, rgb(35, 44, 43) 0%, rgb(65, 75, 77) 100%);
        }
        
        .Tela-Login:hover{
            box-shadow: none;
        }
    .Tela-Login
        {
            background-color: rgba(0, 0, 0, 0.692);
            padding: 80px;
            border-radius: 15px;
            color: white;
            box-shadow: #000 5px 5px 5px;
            transition-property: box-shadow;
            transition-duration: .3s;
            margin-top: 100px;
            
        }
 
.navbar{
        width: 100%;
        height: 80px;
        background-color: rgba(0, 0, 0, 0.692);
        box-shadow: #000 5px 5px 5px;

        position: absolute;
        padding: 5px;
        top: 0;   
        display: flex;
        align-items: center;
        justify-content: center;
        
    
    }

.navbar .icons button{
 
    border: none;
    background-color: transparent;
    color: aliceblue;
    position: absolute;
    right: 30px;
    top: 30px;
    cursor: pointer;
}

.dark{
    background-color: #4e58a5;
    color: #000;
}

